body{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: hsl(229, 6%, 66%)
}
h3{
  font-family: 'Poppins', sans-serif;
  color: hsl(234, 12%, 34%);
  font-weight:  bolder;
}
.first-line{

  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 0;
  color: hsl(234, 12%, 34%);
}
.second-line{
  color: hsl(234, 12%, 34%);
  font-family: 'Poppins', sans-serif;
  font-weight:  bolder;
  margin-top: 0;
}
.middle-lines{
  line-height: 0.5;
  margin-bottom: 50px;

}

.container{
  position: relative;
  text-align: left;



}
.section1 {
  height: 300px;
  width: 400px;
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 5px;
  box-shadow:  5px 20px 5px hsl(0, 0%, 98%);
  margin: auto;
  margin-bottom: 50px;
  margin-block-start: 50px;



}
.section2 {
  height: 300px;
  width: 400px;
  border-top: 5px solid hsl(180, 62%, 55%);
  border-radius: 5px;
  box-shadow:  5px 20px 5px hsl(0, 0%, 98%);
  margin-bottom: 50px;
  position: absolute;
  bottom: 20px;
  left:900px;
  top: 200px;


}
.section3 {
  height: 300px;
  width: 400px;
  border-top: 5px solid  hsl(34, 97%, 64%);
  border-radius: 5px;
  box-shadow:  5px 20px 5px hsl(0, 0%, 98%);
  margin:auto;
  margin-bottom: 50px;
  position: absolute;
  left:450px;



}
.section4 {
  height: 300px;
  width: 400px;
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  box-shadow:  5px 20px 5px hsl(0, 0%, 98%);
  margin-bottom: 50px;
  position: absolute;
  top:200px;
  bottom: 50px;
  margin-left: 10px;

}
.attribution{
  margin-top: 400px;
}

.team-builder{
  position: absolute;
  left:750px;
  bottom: 20px;
}
.supervisor{
  position: absolute;
  left: 300px;
  bottom: 20px;

}
.karma{
  position: absolute;
  left: 300px;
  bottom: 20px;

}
.calculator{
  position: absolute;
  left: 300px;
  bottom: 20px;

}
